<nav>
    <a href="{{ path('users') }}">Users</a> |
    <a href="{{ path('diagnostic') }}">Diagnostic</a> |
    <a href="{{ path('discounts') }}">Discounts</a> |
    <a href="{{ path('product_types') }}">Product Types</a>
</nav>
